<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/css/weui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <script type="text/javascript" src="/js/jquery/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/pay.js"></script>
    <title>扫码支付</title>
</head>
<body>
    <div class="weui-form-preview">
        <div class="weui-form-preview__hd">
            <label class="weui-form-preview__label">金额</label>
            <em class="weui-form-preview__value">{{amount}}</em>
        </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">商户名称</label>
                <span class="weui-form-preview__value">{{merchantConfig.merchantName}}</span>
            </p>
            <p>
                <label class="weui-form-preview__label">备注信息</label>
                <span class="weui-form-preview__value">{{remark}}</span>
            </p>
        </div>
    </div>
    <div style="text-align: center; width: %100;">
        <img src="{{qrCodeUrl}}" style="display: inline-block;"/>
    </div>
{{>fragment/footer}}
</body>
</html>